<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="Samuel Kirk">
        <meta name="references" content="w3schools">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="static/styles/main.css">

    </head>

    <!-- Side navigation -->
    <div class="sidenav">
        <a href="home" style="color:green">Home</a>
        <a href="image-capture">Image Capture</a>
        <a href="#">Image Processing</a>
        <a href="#">Results</a>
        <a href="#">Admin</a>
        <a href="#">How To</a>
        <a href="#">About</a>
    </div>

    <!-- Page content -->
    <div class="main">
        <h1>Home</h1>
        <h2>Project Goal</h2>
        <p>
            The goal of the project is to create a system that can monitor crop health at a low cost for the user. The system will comprise of three core subsystems. Firstly, a piece of hardware that can record NDVI data from the air. Secondly, an analysis and alerting engine that will generate outputs based on the NDVI data. Lastly, a user interface for the user to view their results and aid their decision making and planning.
        </p>
    </div>
    <body>

    </body>
</html>