<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="Samuel Kirk">
        <meta name="references" content="w3schools">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="static/styles/main.css">

    </head>

    <!-- Side navigation -->
    <div class="sidenav">
        <h3>Navigation</h3>
        <a href="home" style="color:#B8E895">Home</a>
        <a href="analysis">Analysis</a>
        <a href="image_match">Image Match</a>
        <a href="help">Help</a>
        <p style="position: absolute; bottom: 0; color: whitesmoke; padding: 8px">Created by Sam Kirk 2021</p>
    </div>

    <!-- Page content -->
    <div class="main">
        <h1>NDVI Analytics System</h1>
        <h2>Home</h2>
        <p>
            This system was developed to monitor plant/crop health using NDVI.
        </p>
        <div class="function">
            <div class='output' style='padding: 10px 0px'>
                <p>
                    The Normalised Difference Vegetation Index (NDVI) is a commonly used measurement that assesses plant health, enabling you to quickly assess your land and crop performance. This NDVI land monitoring tool will calculate the NDVI values of the area in the picture using image processing and Computer Vision techniques.
                </p>
                <p>
                    Head to the <a href="analysis">Analysis</a> page to assess the health of green plants present in your photographs.
                </p>
                <p>
                    
                    The <a href="image_match">Image Match</a> page allows you to establish if two different pictures have captured the same area of land. 

                </p>
                <p>
                    For more information and guidance for using this website see the <a href="help">Help</a> page.
                </p>
                <p>
                    This tool aims to contribute to Smart Farming research to promote more efficient land use, an important factor in climate change.
                </p>
                <br>
                <p>
                    Developed by Samuel Kirk as part of his undergraduate Computer Science degree at The University of the West of England.
                </p>
            </div>
    </div>
    <body>

    </body>
</html>