<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="Samuel Kirk">
        <meta name="references" content="w3schools">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="static/styles/main.css">

    </head>

    <!-- Side navigation -->
    <div class="sidenav">
        <a href="home">Home</a>
        <a href="image-processing" style="color:green">Image Processing</a>
        <a href="#">Results</a>
        <a href="#">Admin</a>
        <a href="#">How To</a>
        <a href="#">About</a>
    </div>

    <!-- Page content -->
    <div class="main">
        <h1>Image Processing</h1>
        
    </div>
    <body>

    </body>
</html>