<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="Samuel Kirk">
        <meta name="references" content="w3schools">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="static/styles/main.css">
    </head>

    <!-- Page content -->
    <div class="main">
        <h1>Image Capture</h1>
        <form action="image-capture" method="post">

            <button name="take_picture" type="submit" value="t">Take Picture</button>
        </form>
        <p>When running on RPi the 'Take Picture' button will trigger an image capture from the camera and saves the
            picture in 'static/raw_images' with the naming convention image-YYYY-MM-DD[H:M:S].png</p>
    </div>
    <body>

    </body>
</html>